<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <h1 class="display-1 text-center">My Projects</h1>

  <br />

  <table class="table text-center table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Project</th>
        <th scope="col">Tools</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <a href="https://r221.github.io/PhysicsQuotes/">
            <div style="height:100%;width:100%">
              PhysicsQuotes
            </div>
          </a>
        </th>
        <td><a href="https://github.com/R221/PhysicsQuotes">GitHub</a>, JavaScript, HTML, CSS</td>
      </tr>
      <tr>
        <th scope="row">This site</th>
        <td><a href="https://github.com/R221/personal-site">Github</a>, Angular, ASP.NET Core, Razor, TypeScript, CSS, HTML </td>
      </tr>
      <tr>
        <th scope="row">Your next project!</th>
        <td>Whatever you need. (Hopefully ASP.NET Core and Angular with some front-end)</td>
      </tr>
    </tbody>
  </table>

  <!-- <a class="github-button" href="https://github.com/R221" aria-label="Follow @R221 on GitHub">Follow @R221</a>
    -->

  <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>


</html>
