<html>
<head>
  <link type = "text/css" href="/src/styles.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<h1 class="home-text">Can you find the hidden link?</h1>
<div class="animation-area">
    <div class="row" _ngcontent-vkn-c3="">
      <div class="col-auto mx-auto" _ngcontent-vkn-c3="">
        <img class="headshot-image" _ngcontent-sfp-c3="" alt="headshot" src="/assets/headshot.jpg">
      </div>
    </div>
	<div class="copyright-text">© 2021 by Robert James</div>
		<ul class="box-area">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li onclick="location.href = 'https://github.com/R221';"></li>
			<li></li>
		</ul>
</div>
	</body>
</html>
